.footer-container{
  margin-top:50px ;
  padding: 0px 10% 0px 10%;
  footer{

    .top-footer{
      display: flex;
      justify-content: space-between;
      width: 100%;
      .iframe-container{
        width: 62%;
        .map-iframe{
          border-radius: 10px;
        }
        .active{
          display: block;
          border-radius: 10px;
        }
        .none{
          display: none;
        }
      }
      .adress-ritm{
        .NewYork{
          margin-bottom: 24px;
        }

        .ritm{
          background-color: #018ABE;
          border-radius: 5px;
          height: 200px;
          display: flex;
          transition-property: all;
          transition-duration: 1.2s;
          flex-direction: column;
          justify-content: center;


          h3{
            margin: 0;
            font-size: 16px;
            font-weight: 600;
            font-family: 'Nova Round', cursive;
            color: white;
            padding-top: 15px;
          }
          p{
            font-size: 12px;
            font-weight: 500;
            font-family: 'Nova Round', cursive;
            color: white;
          }
        }
        width: 30%;
        .btn-footer button{
          padding: 15px;
          color: #018ABE;
          font-size: 12px;
          font-weight: 600;
          font-family: 'Nova Round', cursive;
          background-color: white;
          border: none;
          cursor:pointer;
          transition-property: all;
          transition-duration: 1.2s

        }
        .btn-footer button:hover{

            background-color: #018ABE;
            border-width: 6px;
            border-color: #742d2d;
            border-radius: 10px;
            color:white ;
        }
        .ritm:hover{
          background-color: white;
          border-width: 6px;
          border-color: #742d2d;
          border-radius: 15px;
          h3{
            color:#018ABE ;
          }
          p{
            color:#018ABE ;
          }

        }
      }
    }
    .footer-c{
      margin-top: 25px;
      margin-bottom: 25px;
      font-size: 14px;
      font-weight: 400;
      font-family: 'Nova Round', cursive;
      color: white;
    }

  }
}